.check {

    height: 200px;
    width: 200px;
}

#trackname {
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

#artistname {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

#personname {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

#profilelink {
    font-size: 15px;
}

.subheader {

    color: black;
    font-size: 20px;
}

.topTrendingArtist,
.topTrendingTracks {

    text-align: center;

}

h3 {

    text-align: center;
    padding-right: auto;
    padding-left: auto;
    font-size: 30px;

}

ol {
    text-decoration: none;
    padding-right: 40px;
}

li {
    width: 100px;
    margin: auto;
}

#search-artist {

    background-color: whitesmoke;
    transition-duration: 0.4s;
    font-size: 15px;
    margin-top: 15px;
}

#search-artist:hover {

    background-color: hsl(0, 100%, 50%);
    color: white;
}